.section {
  text-align: center;

  background-color: aliceblue;
}

.section:first-child {
  margin-bottom: 30px;
}

.title {
  margin: 0;
  margin-bottom: 15px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 26px;

  background-color: rgb(137, 181, 231);
}
